.characters{
  text-align: center;
}
.charList{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.charContainer{
  color: white;
  text-align: center;
  width: 350px;
  height: 70vh;
  margin: 30px;
  border-radius: 10px;
  border: 2px yellow solid;
  background-color: black;
  padding: 30px;
}

.charContainer img{
  width: 127px;
  border-radius: 20px;
  margin-bottom: 35px;
}

.charsInfo{
  padding: 20px;
  border-radius: 10px;
}

.charsInfo h3{
  color: yellow;
  font-family: 'jedi';
}

.charDetails{
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 370px;
  border-radius: 10px;
  border: 2px yellow solid;
  background-color: black;
  padding: 10px;
}

.charDetails-info{
  color: yellow;
  font-family: 'jedi';
}

.charDetailsContainer{
  text-align: center;
  color: white;
  margin: 10px;
  border-radius: 10px;
  background-color: black;
  padding: 30px;
}

.charDetailsContainer img{
  width: 205px;
  border-radius: 20px;
  margin-bottom: 35px;
}

.btn-close{
  margin-top: 50px;
  position: relative;
  float: bottom;
}

.btn-close img{  
  width: 45px;
}

.btnVwMore{
  width: 200px;
  font-size: 19px;
  font-weight: bold;
  box-shadow: none;
  background-color: yellow;
  border: none;
  padding: 20px;
  margin: 20px;
  border-radius: 100px;  
}
